# ==============================
# Virtual Environments
# ==============================
venv/
env/
.venv/

# ==============================
# Python cache files
# ==============================
__pycache__/
*.pyc
*.pyo

# ==============================
# Environment variables / secrets
# ==============================
.env

# ==============================
# Django specific
# ==============================
db.sqlite3
staticfiles/
media/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS / IDE files
# ==============================
.vscode/
.idea/
.DS_Store
Thumbs.db
